<p style="color: green"><%= notice %></p>

<%= render "quiz", quiz: @quiz %>

<div>
  <%= link_to "Disponibilizar quiz", quiz_quiz_availabilities_path(quiz_id: @quiz.id), data: { "turbo-method": :post } %> |

  <% if (quiz_availability = current_user.quiz_availabilities.find_by(quiz: @quiz)) %>
    <%= link_to "Iniciar quiz", quiz_availability_quiz_realizations_path(quiz_availability_id: quiz_availability.id),
                data: { "turbo-method": :post } %> |
  <% end %>

  <%= link_to "Back to quizzes", quizzes_path %>
</div>

<h1>Questions</h1>

<div id="questions">
  <% @quiz.questions.each do |question| %>
    <%= render "questions/question", question: %>
  <% end %>
</div>
