<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

<br>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Data de disponibilição</th>
      <th scope="col">Data de finalização</th>
      <th scope="col">Total realizado</th>
      <th scope="col">Nota média</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      <% @quiz_availabilities.each.with_index do |quiz_availability, index| %>
    <tr>
        <th scope="row"><%= index %></th>
        <td><%= l(quiz_availability.created_at, format: :long) %></td>
        <td><%= l(quiz_availability.finished_at, format: :long) if quiz_availability.finished_at.present? %></td>
        <td><%= quiz_availability.quiz_realizations.finished.count %></td>
        <td><%= quiz_availability.average_score %></td>
        <td><%= link_to "Visualizar", quiz_availability_path(quiz_availability) %></td>
    </tr>
      <% end %>
  </tbody>
</table>
