<h1>Quiz <%= @quiz.description %> - Disponibilizados</h1>
<% @quiz_availabilities.each do |quiz_availability| %>
  <%= l(quiz_availability.created_at, format: :long) %><br>
  <%= l(quiz_availability.finished_at, format: :long) if quiz_availability.finished_at.present? %><br>
  <%= quiz_availability.quiz_realizations.finished.count %><br>
  <%= quiz_availability.average_score %><br>
  <%= link_to "Show", quiz_availability_path(quiz_availability) %><br>
<% end %>
