<header class="cabecalho">
  <%= image_tag "logo_roxa.svg", alt: "Logo da Nimbus", class: "cabecalho-img" %>
  <nav class="cabecalho-menu">
    <% if user_signed_in? %>
      <%= link_to "Editar Perfil", edit_user_registration_path, class: "cabecalho-menu-cad" %>
      <%= link_to "Sair", destroy_user_session_path, method: :delete, class: "cabecalho-menu-cad" %>
    <% else %>
      <%= link_to "CADASTRE-SE", new_user_registration_path, class: "cabecalho-menu-cad" %>
      <%= link_to "ENTRAR", new_user_session_path, class: "cabecalho-menu-entrar" %>
    <% end %>
  </nav>
</header>
