<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

<%= render 'shared/header' %>

<div class="container">

<br>
<h2>Pontuação final: <%= @quiz_realization.score %>/10 </h2>
<br>

<% @quiz_realization.quiz.questions.each.with_index do |question, index| %>
  <% @quiz_realization_answer = @quiz_realization.find_realization_answer_by_question(question) %>

  <h2><%= question.description %> (<%= @quiz_realization_answer.correct? ? "Acertou" : "Errou" %>)</h2>

  <%= "A" %>
  <%= question.alternative1 %>
  <%= correct_answer_hit_tag(question, @quiz_realization_answer, 1) %>
  <%= correct_answer_not_hit_tag(question, @quiz_realization_answer, 1) %>
  <%= your_wrong_answer_tag(question, @quiz_realization_answer, 1) %>
  <br>

  <%= "B" %>
  <%= question.alternative2 %>
  <%= correct_answer_hit_tag(question, @quiz_realization_answer, 2) %>
  <%= correct_answer_not_hit_tag(question, @quiz_realization_answer, 2) %>
  <%= your_wrong_answer_tag(question, @quiz_realization_answer, 2) %>
  <br>

  <%= "C" %>
  <%= question.alternative3 %>
  <%= correct_answer_hit_tag(question, @quiz_realization_answer, 3) %>
  <%= correct_answer_not_hit_tag(question, @quiz_realization_answer, 3) %>
  <%= your_wrong_answer_tag(question, @quiz_realization_answer, 3) %>
  <br>

  <%= "D" %>
  <%= question.alternative4 %>
  <%= correct_answer_hit_tag(question, @quiz_realization_answer, 4) %>
  <%= correct_answer_not_hit_tag(question, @quiz_realization_answer, 4) %>
  <%= your_wrong_answer_tag(question, @quiz_realization_answer, 4) %>
  <br>
  <br>
<% end %>

</div>
